@tailwind base;
@tailwind components;
@tailwind utilities;

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.landing-block {
  @apply w-full px-5 mx-auto xl:max-w-7xl lg:px-20;
}
